
<div class='demo-app'>

  <div class='demo-app-main'>
    <full-calendar
      [options]='calendarOptions'
    ></full-calendar>
  </div>

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Apply for leave</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <label for="ltype">Leave Types</label>
    <select name="leave_type" id="ltype" class="form-control" [(ngModel)] = "lt">
      <option *ngFor="let ltp of leave_type" [value]="ltp.id">{{ltp.title}}</option>
    </select><br>
    <div class="row input-group">
      <div class="col-9 justify-content-center">
        <input type="number" [(ngModel)]="days" placeholder="How many days?" class="form-control" [disabled]="true" (keyup)="validateDays()">
      </div>
      <div class="col-3">
        <input type="checkbox" name="halfday" id="" [(ngModel)]="halfday" (click)="days=0.5"> <label for="">Half Day</label>
      </div>
      
    </div>
    <br>
    <input type="text" [(ngModel)]="reason" placeholder="Why do you want leave ?" class="form-control">
  </div>
  <div class="modal-footer">
    <p class="text-center text-danger me-auto" *ngIf="disable" id="error">Invalid value</p>
    <p class="me-auto">This will cost you - {{cost}}</p>
    <button type="button" class="btn btn-outline-info" (click)="applyLeave()" [disabled]="disable">Apply</button>
  </div>
</ng-template>

<ng-template #leave_details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-leave-details">My Leave request details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><b>Reason: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.reason:details_event.leave_data.leave_req_data.reason}}</p>
        <p class="card-text"><b>Request Date: </b>{{date | date: 'medium'}}</p>
        <p class="card-text"><b>Duration: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.duration:details_event.leave_data.leave_req_data.duration}} Days</p>
        <p class="card-text"><b>Status: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.status:details_event.leave_data.leave_req_data.status}}</p>
        <p class="card-text"><b>Status: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.request_id:details_event.leave_data.leave_req_data.request_id}}</p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <p class="text-center text-danger me-auto" *ngIf="disable">Invalid Input</p>
    <button type="button" class="btn btn-outline-danger" (click)="removeEvent()" [disabled]="disable">Remove</button>
    <button type="button" class="btn btn-outline-success" (click)="update((details_event.leave_data==null)?details_event.leave_req_data.request_id:details_event.leave_data.leave_req_data.request_id,'approved')" *ngIf="userArray.user_role==3">Accept </button>
    <button type="button" class="btn btn-outline-danger" (click)="update((details_event.leave_data==null)?details_event.leave_req_data.request_id:details_event.leave_data.leave_req_data.request_id,'rejected')" *ngIf="userArray.user_role==3">Reject</button>
  </div>
</ng-template>


<ng-template #approve_ui let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-leave-details">Waiting for approval</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><b>Employee Name: </b>{{applier.fname}} {{applier.lname}}</p>
        <p class="card-text"><b>Reason: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.reason:details_event.leave_data.leave_req_data.reason}}</p>
        <p class="card-text"><b>Request Date: </b>{{date | date: 'medium'}}</p>
        <p class="card-text"><b>Duration: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.duration:details_event.leave_data.leave_req_data.duration}} Days</p>
        <p class="card-text"><b>Status: </b>{{(details_event.leave_data==null)?details_event.leave_req_data.status:details_event.leave_data.leave_req_data.status}}</p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <p class="text-center text-danger me-auto" *ngIf="disable">Invalid Input</p>
    <button type="button" class="btn btn-outline-success" (click)="update(request_id,'approved')" [disabled]="disable">Accept</button>
    <button type="button" class="btn btn-outline-danger" (click)="update(request_id,'rejected')" [disabled]="disable">Reject</button>
  </div>
</ng-template>

